/* screen - desktop */

.desktop {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 2190px;
  width: 1440px;
}

.desktop .overlap-group2 {
  height: 74px;
  position: relative;
  width: 1440px;
}

.desktop .cool-stuff-i-did {
  color: var(--black);
  font-family: var(--font-family-sofia);
  font-size: var(--font-size-l);
  font-weight: 400;
  height: 74px;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 1440px;
}

.desktop .line {
  height: 1px;
  left: 563px;
  position: absolute;
  top: 68px;
  width: 314px;
}

.desktop .overlap-group4 {
  align-items: center;
  background-color: #ffd966;
  display: flex;
  height: 456px;
  justify-content: flex-end;
  margin-top: 68px;
  min-width: 1440px;
  padding: 68px 35px;
}

.desktop .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 12.0px;
  min-height: 278px;
  width: 770px;
}

.desktop .title {
  height: 119px;
  letter-spacing: 0;
  min-width: 340px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.desktop .collaborative-trip-planning-app-for-i-os {
  align-self: flex-end;
  height: 47px;
  letter-spacing: 0;
  margin-top: 42px;
  min-width: 702px;
  text-align: center;
}

.desktop .individual-project {
  align-self: center;
  height: 47px;
  letter-spacing: 0;
  margin-right: 26.0px;
  margin-top: 23px;
  text-align: center;
  width: 356px;
}

.desktop .x526-5260122_the-buzz {
  align-self: flex-end;
  height: 305px;
  margin-left: 34px;
  object-fit: cover;
  width: 432px;
}

.desktop .overlap-group1 {
  align-items: center;
  background-color: #5db075;
  display: flex;
  height: 456px;
  justify-content: flex-end;
  min-width: 1440px;
  padding: 0 117px;
}

.desktop .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 276px;
  width: 541px;
}

.desktop .plantry {
  height: 119px;
  letter-spacing: 0;
  min-width: 242px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.desktop .meal-planning-app-for-i-os {
  align-self: flex-end;
  height: 47px;
  letter-spacing: 0;
  margin-top: 42px;
  min-width: 473px;
  text-align: center;
}

.desktop .team-project {
  align-self: center;
  height: 47px;
  letter-spacing: 0;
  margin-left: 83.0px;
  margin-top: 21px;
  min-width: 236px;
  text-align: center;
}

.desktop .shared-with-me-google-drive-1 {
  height: 276px;
  margin-left: 285px;
  width: 328px;
}

.desktop .overlap-group {
  align-items: flex-end;
  background-color: #dbe6d5;
  display: flex;
  flex-direction: column;
  min-height: 456px;
  padding: 2px 58px;
  width: 1440px;
}

.desktop .us-environmental-protection-agency {
  height: 119px;
  letter-spacing: 0;
  margin-top: 88px;
  min-width: 1220px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
}

.desktop .flex-row {
  align-items: flex-start;
  display: flex;
  height: 203px;
  margin-right: 21px;
  margin-top: 42px;
  min-width: 1124px;
}

.desktop .flex-col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 115px;
  width: 433px;
}

.desktop .website-redesign {
  height: 47px;
  letter-spacing: 0;
  min-width: 323px;
  text-align: center;
}

.desktop .individual-project-1 {
  align-self: flex-end;
  height: 47px;
  letter-spacing: 0;
  margin-top: 21px;
  min-width: 307px;
  text-align: center;
}

.desktop .download-2 {
  align-self: flex-end;
  height: 202px;
  margin-left: 255px;
  object-fit: cover;
  width: 436px;
}

.desktop .overlap-group3 {
  height: 74px;
  margin-top: 120px;
  position: relative;
  width: 1440px;
}

.desktop .my-skills {
  color: var(--black);
  font-family: var(--font-family-sofia);
  font-size: var(--font-size-l);
  font-weight: 400;
  height: 74px;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 1440px;
}

.desktop .flex-row-1 {
  align-items: flex-start;
  display: flex;
  margin-left: 1.0px;
  margin-top: 65px;
  min-width: 877px;
}

.desktop .rectangle-15 {
  height: 132px;
  object-fit: cover;
  width: 132px;
}

.desktop .rectangle-1 {
  height: 132px;
  margin-left: 54px;
  object-fit: cover;
  width: 132px;
}

.desktop .rectangle-17 {
  height: 132px;
  margin-left: 55px;
  object-fit: cover;
  width: 131px;
}

.desktop .rectangle-18 {
  height: 132px;
  margin-left: 55px;
  object-fit: cover;
  width: 132px;
}

.desktop .i-love-all-aspects-o {
  letter-spacing: 0;
  margin-left: 36.0px;
  margin-top: 65px;
  min-height: 98px;
  width: 990px;
}
/* screen - mobile */

.mobile {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1162px;
  width: 375px;
}

.mobile .cool-stuff-i-did-1 {
  color: var(--black);
  font-family: var(--font-family-sofia);
  font-size: var(--font-size-m);
  font-weight: 400;
  height: 39px;
  letter-spacing: 0;
  margin-left: 32px;
}

.mobile .line-13 {
  height: 1px;
  margin-left: 32px;
  width: 199px;
}

.mobile .overlap-group1-1 {
  align-items: flex-start;
  background-color: #ffd966;
  display: flex;
  flex-direction: column;
  margin-top: 19px;
  min-height: 177px;
  padding: 12px 18px;
  width: 375px;
}

.mobile .flex-row-2 {
  align-items: flex-start;
  display: flex;
  height: 73px;
  min-width: 303px;
}

.mobile .travel-bee {
  align-self: flex-end;
  height: 37px;
  letter-spacing: 0;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  width: 136px;
}

.mobile .x526-5260122_the-buzz-1 {
  height: 72px;
  margin-left: 64px;
  object-fit: cover;
  width: 103px;
}

.mobile .collaborative-trip-planning-app-for-i-os-1 {
  align-self: center;
  height: 15px;
  letter-spacing: 0;
  margin-left: 2.0px;
  margin-top: 7px;
  text-align: center;
  width: 291px;
}

.mobile .individual-project-2 {
  height: 15px;
  letter-spacing: 0;
  margin-left: 37px;
  margin-top: 7px;
  text-align: center;
  width: 142px;
}

.mobile .overlap-group-1 {
  align-items: center;
  background-color: #5db075;
  display: flex;
  height: 177px;
  min-width: 375px;
  padding: 25px 18px;
}

.mobile .flex-col-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.0px;
  min-height: 90px;
  width: 228px;
}

.mobile .plantry-1 {
  height: 38px;
  letter-spacing: 0;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  width: 104px;
}

.mobile .meal-planning-app-for-i-os-1 {
  align-self: flex-end;
  height: 28px;
  letter-spacing: 0;
  margin-top: 7px;
  text-align: center;
  width: 191px;
}

.mobile .team-project-1 {
  align-self: center;
  height: 17px;
  letter-spacing: 0;
  margin-right: 20.0px;
  text-align: center;
  width: 100px;
}

.mobile .shared-with-me-google-drive-1-1 {
  align-self: flex-end;
  height: 71px;
  margin-left: 23px;
  width: 84px;
}

.mobile .overlap-group2-1 {
  align-items: center;
  background-color: #dbe6d5;
  display: flex;
  height: 177px;
  justify-content: flex-end;
  min-width: 375px;
  padding: 0 25px;
}

.mobile .flex-col-4 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 9.0px;
  min-height: 126px;
  width: 198px;
}

.mobile .us-environmental-protection-agency-1 {
  height: 74px;
  letter-spacing: 0;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  width: 198px;
}

.mobile .website-redesign-1 {
  height: 19px;
  letter-spacing: 0;
  margin-right: 12.0px;
  margin-top: 7px;
  min-width: 130px;
  text-align: center;
}

.mobile .individual-project-3 {
  height: 19px;
  letter-spacing: 0;
  margin-left: 31.0px;
  margin-top: 7px;
  min-width: 123px;
  text-align: center;
}

.mobile .download-2-1 {
  align-self: flex-end;
  height: 48px;
  margin-left: 21px;
  object-fit: cover;
  width: 104px;
}

.mobile .flex-row-3 {
  align-items: flex-end;
  display: flex;
  height: 232px;
  margin-left: 32px;
  margin-top: 19px;
  min-width: 245px;
}

.mobile .flex-col-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 232px;
  width: 135px;
}

.mobile .my-skills-1 {
  color: var(--black);
  font-family: var(--font-family-sofia);
  font-size: var(--font-size-m);
  font-weight: 400;
  height: 39px;
  letter-spacing: 0;
}

.mobile .line-14 {
  height: 1px;
  width: 126px;
}

.mobile .rectangle-30 {
  align-self: flex-end;
  height: 68px;
  margin-top: 25px;
  object-fit: cover;
  width: 68px;
}

.mobile .rectangle-33 {
  align-self: flex-end;
  height: 68px;
  margin-top: 31px;
  object-fit: cover;
  width: 68px;
}

.mobile .flex-col-6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 42px;
  min-height: 167px;
  width: 68px;
}

.mobile .rectangle-31 {
  height: 68px;
  object-fit: cover;
  width: 68px;
}

.mobile .rectangle-34 {
  height: 68px;
  margin-top: 31px;
  object-fit: cover;
  width: 68px;
}

.mobile .rectangle-32 {
  align-self: center;
  height: 68px;
  margin-left: 1.0px;
  margin-top: 31px;
  object-fit: cover;
  width: 68px;
}

.mobile .i-love-all-aspects-o-1 {
  align-self: center;
  letter-spacing: 0;
  margin-right: 5.0px;
  margin-top: 31px;
  min-height: 120px;
  width: 306px;
}
@media screen and (max-width: 1439px) {
  .screen.desktop { 
    display: none;
   }
}
@media screen and (min-width: 1440px) {
  .screen.mobile { 
    display: none;
   }
}